<form>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <input type="text" [(ngModel)]="id_producto" name="id_producto" class="form-control" id="inputIDProducto" placeholder="ID Producto">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <input type="text" [(ngModel)]="nombre" name="nombre" class="form-control" id="inputNombre" placeholder="Nombre del producto">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <select [(ngModel)]="tipo" name="tipo" class="browser-default custom-select">
                <option class="tipo" value="Tipo" disabled selected>Tipo</option>
                <option class="tipo" value="Pizza">Pizza</option>
                <option class="tipo" value="Bebida">Bebida</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <input type="text" [(ngModel)]="imagen" name="imagen" class="form-control" id="inputImagen" placeholder="Imagen del producto">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <input type="number" [(ngModel)]="precio" name="precio" class="form-control" id="inputPrecio" placeholder="Precio del producto">
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="mdi mdi-text"></i></div>
            </div>
            <input type="number" [(ngModel)]="stock" name="stock" class="form-control" id="inputStock" placeholder="Stock">
        </div>
    </div>
    <button type="button" (click)="agregarProducto()" class="btn btn-outline-primary mb-2" [disabled]="!id_producto || !nombre || !imagen || !precio || (tipo == 'Tipo')">Agregar</button>
</form>