<div *ngIf="auth.afAuth.authState | async as user" class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5>Bienvenido {{ user.displayName }}</h5>
            <hr>
            <div *ngFor="let pedido of pedidos | async" class="card-text">
                <div><b>Pedido #{{ pedido.id }}</b></div>
                <div>Fecha del pedido: {{ pedido.f_pedido.seconds * 1000 | date: 'MMM d, y, h:mm:ss a' }}</div>
                <div *ngIf="!estado">Pedido Aceptado</div>
                <div *ngIf="estado">Entrega Recibida</div>
                <div>Direccion de Envio: {{ pedido.dirEnvio }}</div>
                <div>Número de Productos: {{ pedido.n_productos }}</div>
                <div>Precio Total: {{ pedido.precioPedido | currency:'COP' }}</div>
                <hr>
            </div>
        </div>
    </div>
</div>