<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Productos</h5>
            <div class="card-text">
                <button type="button" routerLink="/admin/products" class="btn btn-outline-primary btn-sm">Ver</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Usuarios</h5>
            <div class="card-text">
                <button type="button" routerLink="/admin/users" class="btn btn-outline-primary btn-sm">Ver</button>
            </div>
        </div>
    </div>
</div>