<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Usuarios</p>
                    <button type="button" routerLink="/user-dashboard" class="btn btn-outline-primary">Usuarios</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Productos</p>
                    <button type="button" routerLink="/product-dashboard" class="btn btn-outline-primary">Productos</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Ordenes</p>
                    <button type="button" class="btn btn-outline-primary">button</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 mb-2">
            <div class="card">
                <div class="card-body">
                    <p class="card-title">Domicilios</p>
                    <button type="button" class="btn btn-outline-primary">button</button>
                </div>
            </div>
        </div>
    </div>
</div>