.bg-custom {
    /*background-color: #f83a3a;*/
    background: url(../../../assets/images/pizza2.jpg) no-repeat center center fixed;
}

a {
    color: #868686;
    text-decoration: none;
}

.active a {
    color: #ffffff;
    text-decoration: none;
}