<nav class="navbar navbar-expand-lg navbar-dark bg-custom fixed-top">
    <a class="navbar-brand" routerLink=""><i class="mdi mdi-pizza" style="color: #ffffff;"></i></a>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span><span *ngIf="notification > 0" class="badge badge-light ml-1">{{ notification }}</span>
    </button>

    <div class="collapse navbar-collapse font-weight-bold" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/home">Inicio</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a class="nav-link" routerLink="/products">Productos</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a *ngIf="rol == 'admin' || rol == 'empleado'" class="nav-link" routerLink="/waiter">Mesero</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a *ngIf="rol == 'admin' || rol == 'empleado'" class="nav-link" routerLink="/kitchen">Cocinero</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a *ngIf="rol == 'admin' || rol == 'empleado'" class="nav-link" routerLink="/home-order">Domicilios</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a *ngIf="rol == 'admin'" class="nav-link" routerLink="/admin">Admin</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
                <a *ngIf="auth.afAuth.authState | async as user" class="nav-link" routerLink="/user/{{ user.uid }}">Mi Cuenta</a>
            </li>
        </ul>
        <div *ngIf="auth.afAuth.authState | async as user">
            <button class="btn btn-outline-light ml-2" type="button" routerLink="/cart"><i class="mdi mdi-cart"></i><span *ngIf="notification > 0" class="badge badge-light ml-1">{{ notification }}</span></button>
            <button class="btn btn-outline-light ml-2" type="button" (click)="auth.logout()">Salir</button>
        </div>
    </div>
</nav>