@media (min-width: 979px) {
    .full-page {
        background: url(../../../assets/images/pizza.jpg) no-repeat center center fixed;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: auto;
    }
}

@media (max-width: 978px) {
    .full-page {
        background: url(../../../assets/images/pizza.jpg) no-repeat fixed;
        background-size: 1200px;
        height: 100%;
        width: 100%;
        position: fixed;
        overflow-y: auto;
    }
}

.card {
    border: 0;
    background-color: #eeeeeee0;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}