<div class="container mt-3">
    <div *ngIf="cart && cart.numProductos > 0">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-2">Compra</h4>
                        <hr>
                        <div class="card-text">
                            <div><b>Producto(s)</b></div>
                            <div *ngFor="let producto of productos | async" class="row">
                                <div class="col-6 text-left">
                                    {{ producto.nombre }}
                                </div>
                                <div class="col-5 text-right">
                                    {{ producto.precio | currency:'COP' }}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <b>Precio de la Compra:</b>
                                </div>
                                <div class="col-5 text-right">
                                    {{ cart.precioTotal | currency:'COP' }}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6 text-left">
                                    <b>Metodo de Pago:</b>
                                </div>
                                <div class="col-5 text-right">
                                    <select [(ngModel)]="metodoPago" name="metodoPago" class="browser-default custom-select mb-2">
                                        <option class="metodoPago" value="Metodo de Pago" disabled selected>Metodo de Pago</option>
                                        <option class="metodoPago" value="Efectivo">Efectivo</option>
                                        <option class="metodoPago" value="Tarjeta de Credito" disabled>Tarjeta de Credito</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-auto">
                                    <button type="button" (click)="comprar()" [disabled]="(metodoPago == 'Metodo de Pago') || compraEnProceso" class="btn btn-outline-success">Comprar</button>
                                </div>
                                <div class="col text-right">
                                    <button type="button" (click)="volver()" class="btn btn-outline-danger">Volver</button>
                                </div>
                            </div>


                            <hr>

                            <div *ngIf="compraEnProceso">
                                <h5 *ngIf="auth.afAuth.authState | async as user" class="card-text text-center">
                                    Procesando Compra
                                    <div class="spinner-grow text-dark ml-2" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>