<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../../../assets/images/bg_3.jpg" alt="New York" class="bg-carousel">
            <div class="carousel-caption">
                <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
                    <div class="col-md-7 col-sm-12 text-center">
                        <h4 class="subheading">Bienvenido a PizzApp</h4>
                        <span class="mb-4">Tenemos su receta de Pizza deseada</span>
                    </div>

                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/bg_1.jpg" alt="" class="bg-carousel">
            <div class="carousel-caption">
                <div class="row slider-text align-items-start" data-scrollax-parent="true">
                    <div class="col-md-6 col-sm-12 order-md-last text-left">
                        <span class="subheading">Crujiente</span>
                        <h4 class="mb-4">Pizza Italiana</h4>
                    </div>
                    <div class="col-md-6 mobile text-right">
                        <img src="../../../assets/images/bg_2.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item carousel-img">
            <img src="../../../assets/images/bg_1.jpg" alt="" class="bg-carousel">
            <div class="carousel-caption">
                <div class="row slider-text content-start " data-scrollax-parent="true">
                    <div class="col-md-6 text-right">
                        <span class="subheading">Delicioso</span>
                        <h4 class="mb-4">Cuizine Italiano</h4>
                    </div>
                    <div class="col-md-6 mobile text-left">
                        <img src="../../../assets/images/bg_1.png" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row no-padding">
    <div class="col-sm-8 col-4" style="background-color: #0e0e0e">
        <div class="row text-light mt-4 mb-4">
            <div class="col-sm-4 text-center">
                <div>
                    Ubicación<i class="mdi mdi-map-marker ml-2"></i>
                </div>
                <div>
                    Dirección Restaurante
                </div>
            </div>
            <div class="col-sm-8 text-center no-mobile">
                <div>
                    Horario de atención de lunes a sabado<i class="mdi mdi-clock-outline ml-2"></i>
                </div>
                <div>
                    8:00 am - 8:00 pm
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-8" style="background-color: #fac564">
        <div class="row mt-4 mb-4 mobile-show">
            <div class="col-sm-8 text-center">
                <div>
                    Horario de atención de lunes a sabado<i class="mdi mdi-clock-outline ml-2"></i>
                </div>
                <div>
                    8:00 am - 8:00 pm
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row no-padding">
    <div class="col-auto no-padding">
        <img src="../../../assets/images/about.jpg" class="img-fluid">
    </div>
    <div class="col">
        <div class="card-body">
            <h4 class="text-center" style="color: #fac564">PizzApp</h4>
            <hr>
            <p>PizzApp se encamina a ser una empresa lider en el mercado colombiano en la rama de la comida rápida. Manteniendo una constante evolución, adaptandose a las necesidades cambiantes del mercado, para ser una empresa moderna y actualizada.</p>
        </div>
    </div>
</div>

<section class="ftco-section ftco-services">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center">
                <h2 class="mb-4">Nuestros servicios</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <i class="mdi mdi-food-fork-drink" style="font-size: 50px"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Comida saludable</h3>
                        <p>Somos una empresa que se compromete a entregar productos de muy buena calidad para el consumo.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <i class="mdi mdi-truck-delivery" style="font-size: 50px"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Entrega mas rapida</h3>
                        <p>Si uno de nuestros pedidos duar mas de lo esperado el pedido es gratis.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="media d-block text-center block-6 services">
                    <div class="icon d-flex justify-content-center align-items-center mb-5">
                        <i class="mdi mdi-pizza" style="font-size: 50px"></i>
                    </div>
                    <div class="media-body">
                        <h3 class="heading">Recetas Originales</h3>
                        <p>Tenemos un gran catalogo en los productos ofrecidos. Realizados unica y exlusivamente por nosotros</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>