<div *ngIf="cart" class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-2"><i class="mdi mdi-cart mr-2"></i>Carrito de Compras</h4>
                    <hr>
                    <div class="card-text row mb-1">
                        <div class="col-5 text-left">
                            <h5>Producto(s)</h5>
                        </div>
                        <div class="col-4 text-center">
                            <h5>Precio</h5>
                        </div>
                        <div class="col-3">
                        </div>
                    </div>
                    <div *ngFor="let producto of productos | async" class="card-text row mb-1">
                        <div class="col-5 text-left">
                            {{ producto.nombre }}
                        </div>
                        <div class="col-4 text-center">
                            {{ producto.precio | currency:'COP' }}
                        </div>
                        <div class="col-2 text-center">
                            <button type="button" (click)="deleteProducto(cart.idCliente, producto.id, producto)" class="btn btn-outline-danger btn-sm"><i class="mdi mdi-minus"></i></button>
                        </div>
                    </div>
                    <hr>
                    <div class="card-text row mb-1">
                        <div class="col-5 text-left">
                            <p>Total Productos</p>
                        </div>
                        <div class="col-4 text-center">
                        </div>
                        <div class="col-2 text-center">
                            <p>{{ cart.numProductos }}</p>
                        </div>
                    </div>
                    <div class="card-text row mb-1">
                        <div class="col-5 text-left">
                            <p>Precio Total</p>
                        </div>
                        <div class="col-4 text-center">
                            <p>{{ cart.precioTotal | currency:'COP' }}</p>
                        </div>
                        <div class="col-2 text-center">
                            <button type="button" *ngIf="cart.numProductos > 0" routerLink="/" class="btn btn-outline-success btn-sm"><i class="mdi mdi-chevron-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>